{% extends 'app.html'%}

{%block main%}

{% set username=current_user.Username%}
{%set email= current_user.Email%} 
{%set Pimg=current_user.Profile_img  %}
{%set theme=current_user.theme%}
{%set themeclass=Theme.get_theme(current_user.theme)%}
{%set defaultTheme= theme in ['Original']%}
{%set FriendIdarray=current_user.Friends.split(',')%}
{%set NoofFriends=(FriendIdarray|length)-1%}
    

<!--Modal for Profile Image Change-->
<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="ProfImg" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            {%if defaultTheme  %}
                <div class="modal-header {{themeclass}}">
            {%else%}
                 <div class="modal-header {{themeclass}}rl">
            {%endif%}     
            {% with messages=get_flashed_messages(with_categories=True)%}
            {% if messages%}
                {% for category,message in messages%}
                    <div class="alert alert-{{category}}">
                        {{message}}
                    </div>
                {%endfor%}
            {%endif%}
        {%endwith%}
                        <h5 class="modal-title">Profile Image</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
           
                <div class="modal-body bg-light">
                    <div class="container text-center">
                            <img src="{{Pimg}}" alt="" width="100%" id="pimg">
                    </div>
                   
                    <div class="container text-center" id="imgarea" style="display: none;" >
                        <hr>
                        <h1>Change Profile Image</h1>
                        <form action="" id="chngimg_form" method="post">
                            <input type="file" name="newimg" id="newimg" style="display: none;"  />
                            <div class="btn-group">
                                <input type="button" value="Browse..." onclick="document.getElementById('newimg').click();" class="btn btn-secondary" />
                                <button type="submit" id="applyChng"  class="btn btn-primary" style="display: none;" >Apply the Change <div class="spinner-border ml-auto" id="spinner1" style="display: none;"></div></button>
                            </div>
                            
                        </form>
                    </div>
                </div>
                <div class="modal-footer ">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    {%if defaultTheme  %}
                   
                    <button type="submit" class="btn {{themeclass}}" onclick="$('#imgarea').fadeToggle()">Change</button>
                    {%else%}
                    <button type="button" class="btn {{themeclass}}rl" onclick="$('#imgarea').fadeToggle()" >Change</button>
                    {%endif%}
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $('#ProfImg').on('show.bs.modal', event => {
        var button = $(event.relatedTarget);
        var modal = $(this);
        // Use above variables to manipulate the DOM
        
    });
</script>
  
<div class="row p-5 desktop">
       <div class="col-sm-3 ">
           {% if defaultTheme%}
                <div class="card {{themeclass}}">
            {%else%}
            <div class="card {{themeclass}}rl">
            {%endif%}
               <div class="card-body d-flex flex-row">
                <div class="float-left">
                    <a href="#ProfImg" type="button" data-toggle="modal">
                        <img class="card-img-top " src="{{Pimg}}" alt="Card image cap">
                    </a>
                </div>
                <div class="float-right pr-lg-5 ">
                    <h4 class="card-title pb-0 mb-0 pl-lg-3">{{username}}</h4>
                   <p class="card-text pt-0 mt-0 pl-lg-3">{{email}}</p>
                </div>
                   
               </div>
               <ul class="list-group list-group-flush">
                   <li class="list-group-item"> Your Current Theme:<span id="ThemeName">{{theme}} </span> 
                       <br>
                       Change Your Theme
                       <span class=" form-group">
                            <select name="" class="form-control" id="chngThm" >
                                {% for key in Theme.allTheme()%}
                                    {% if theme==key%}
                                        <option value="{{key}}" selected>{{key}}</option>
                                    {%else%}
                                        <option value="{{key}}">{{key}}</option>
                                    {%endif%}
                                {% endfor%}
                            </select>
                        </span>
                    </li>
                   <li class="list-group-item">Number of Friends: {{NoofFriends}} </li>
                  
               </ul>
           </div>
           {# Profile Picture Usernamme and nicche choto kore ekta email ta #}
       </div>
       <div class="col-sm-8 desktop">
        {% if defaultTheme%}
           <div class="container border  {{themeclass}} row">
        {% else %}
            <div class="container border  {{themeclass}}rl  row">
        {%endif%}
        <div class="col-md-3 p-3">
            <a href="#ProfImg" type="button" data-toggle="modal">
                <img class="rounded-circle" src="{{Pimg}}" alt="Card image cap"  id="profimg">
            </a>
        </div>
        
        <div class="col-md-7 pt-3">
            <h1 class="py-4 ">{{username}}</h1>
        </div>
            
           </div>
       </div>
       
    </div>

<div class="row mobile">
    <div class="col-sm-12 mobile ">
        {%if defaultTheme%}
        <div class=" rounded  row justify-content-center {{themeclass}}" >
        {%else%}
        <div class=" rounded  row justify-content-center {{themeclass}}rl" >
        {%endif%}
        <div class="col p-2 ml-3 ml-0">
            <a href="#ProfImg" type="button" data-toggle="modal">
                <img class=" rounded-circle" src="{{Pimg}}" alt="Card image cap" id="profimg">
               </a>
        </div>
        
        <div class="col p-2 mx-0">
            <h1 class="">{{username}}</h1>
        </div>
         
        </div>
           <div class="container mt-5 mx-auto row justify-content-center">
               <div class="col-sm-2 ">
                   <ul class="list-group">
                       {%if defaultTheme%}
                       <li class="list-group-item {{themeclass}} text-dark">Email: {{email}}</li>
                       {%else%}
                       <li class="list-group-item {{themeclass}}rl text-dark">Email: {{email}}</li>
                       {%endif%}
                       <li class="list-group-item"> Your Current Theme:<span id="ThemeName2">{{theme}} </span> 
                        <br>
                        Change Your Theme
                        <span class=" form-group">
                             <select name="" class="form-control" id="chngThm1" >
                                 {% for key in Theme.allTheme()%}
                                     {% if theme==key%}
                                         <option value="{{key}}" selected>{{key}}</option>
                                     {%else%}
                                         <option value="{{key}}">{{key}}</option>
                                     {%endif%}
                                 {% endfor%}
                             </select>
                         </span>
                     </li>
                    <li class="list-group-item">Number of Friends: {{NoofFriends}} </li>
                   
                   </ul>
               </div>
               
            
           </div>
</div>

</div>   
{%endblock%}