{% extends 'app.html'%}

{%block main%}

{% set username=current_user.Username%}
{%set email= current_user.Email%} 
{%set Pimg=current_user.Profile_img  %}
{%set theme=current_user.theme%}
{%set themeclass=Theme.get_theme(current_user.theme)%}
{% set description=current_user.Description%}
{%set userJson=thejson%}




<div class="user-main-section {{themeclass}}">
    <div class="constant-section">
        <div class="card">
            <div class="card-body">
                
            </div>
        </div>
    </div>
    <div class="scrollable-section">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora, magnam molestiae voluptatem sit, sed aliquam non quasi hic totam accusantium quas. Molestiae ea earum minus deleniti explicabo, quidem expedita perspiciatis?
    </div>
</div>


<script>
   
  function splitScroll(){
      const controller = new ScrollMagic.Controller();
      new ScrollMagic.Scene({
          duration:0,
          triggerElement:'.user-main-section',
          triggerHook:0
      })
      .setPin('.constant-section' )
      .addTo(controller)
      ;
  }
  splitScroll();
    
</script>
  
{%endblock%}