.bg-red-up{
    background-image: linear-gradient(#f12711,#f5af19)!important;
}

.bg-spicy{
    background-image: linear-gradient(#fc4a1a,#f7b733)!important;
}
.bg-friendly{
    background-image: linear-gradient(#FFE000,#45B649)!important;
}
.bg-mistry{
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%)!important;
}
.bg-chilled{
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%)!important;
}
.bg-lemonade{
    background-image: linear-gradient(to top, #96fbc4 0%, #f9f586 100%)!important;
}
.bg-fancy-dark{
    background-image: linear-gradient(to right, #868f96 0%, #596164 100%)!important;
    
}
.bg-snow{
    background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%)!important;
}
.bg-pop{
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%)!important;
}
.bg-black{
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%)!important;
 background-blend-mode: multiply!important;
}
.bg-bread{
  
    background-image: linear-gradient(315deg, #ebbe9b 0%, #e7a977 74%)!important;
}
.bg-mars{
    background-color: #fc9842!important;
    background-image: linear-gradient(315deg, #fc9842 0%, #fe5f75 74%)!important;
}
.bg-grey{
    background-color: #2f4353!important;
    background-image: linear-gradient(315deg, #2f4353 0%, #d2ccc4 74%)!important;
}
.bg-dark{
    background-color: #000000!important;
    background-image: linear-gradient(147deg, #000000 0%, #434343 74%)!important;
}