<header>
    <nav class="navbar navbar-expand-sm navbar-dark desktop bg-for-nav bg-dark pt-0 pb-0">
        <a class="navbar-brand text-center pt-0 pb-0" href="/"><span class="text-white font-4 px-5 mx-5" style="font-size: 2.5rem!important;">Pickle</span></a>
       
        <div class="collapse navbar-collapse" >
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
               
            </ul>
            
        </div>
        <div class="navbar-nav mr-lg-5 p-0 mt-0">
            <a class=" nav-item nav-link text-white" href="/" >Home </a>
            <a href="/login" class="nav-item nav-link text-white">Login</a>
            <a href="/register" class="nav-item nav-link text-white">Register</a>
        </div>
       
    </nav>
    
    <nav class="navbar navbar-expand-lg fixed-top shadow navbar-dark navbar-offcanvas  mobile bg-dark" >
        <a class="navbar-brand mr-auto" href="/"></a>
    
        <button class="navbar-toggler d-block" type="button" id="navToggle">
            <span class="fa fa-list"></span>
        </button>
    
        <div class="navbar-collapse offcanvas-collapse bg-red-up">
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item ">
                    <a class="nav-link hoverable" href="/">Home </a>
                </li>
                <li class="nav-item">
                    <a href="/login" class="nav-link hoverable">Login</a>
                </li>
                <li class="nav-item">
                    <a href="/register" class="nav-link hoverable">Register</a>
                </li>

            </ul>
    
    
        </div>
    </nav>
</header>