<header>
    <nav class="navbar navbar-expand-sm navbar-dark desktop bg-for-nav bg-dark pt-0 pb-0 ">
        <a class="navbar-brand pt-0 pb-0" href="/" style="margin-left:28rem!important ;"> <img src="{{ url_for('static',filename='photos/Logo.png') }}" width="5%" class="pt-0  mb-1 ml-lg-5 mr-lg-2" alt="The logo"> <span class="text-white font-4 large-text mt-2 pt-2">Pickle </span>  </a>
       
        <div class="collapse navbar-collapse" >
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
               
            </ul>
            
        </div>
        <div class="navbar-nav mr-lg-5 p-0 mt-0 mr-lg-5">
            <a class=" nav-item nav-link text-white" href="/" >Home </a>
            <a class=" nav-item nav-link text-white" href="/search" >Search </a>
            {% if current_user.is_authenticated%}
            <div class="dropdown open mb-0">
                <a class="nav-item nav-link text-white dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" onmouseover="$('#menu1').show()" onmouseout="$('#menu1').hide()">
                            {{current_user.Username}}
            </a>
                <div class="dropdown-menu mt-0" aria-labelledby="triggerId" id="menu1" onmouseover="$(this).show()" onmouseout="$(this).hide()">
                    <a href="#" class="dropdown-item " ><i class="fa fa-cog" aria-hidden="true"></i>Settings</a>
                    <a href="/message" class="dropdown-item "> <i class="fa fa-envelope-open" aria-hidden="true"></i> Messages</a>
                    <a class="dropdown-item" href="/pinned"><i class="fa fa-thumb-tack" aria-hidden="true"></i> Pinned Posts</a>
                    <a class="dropdown-item " href="/account"><i class="fa fa-user-o" aria-hidden="true"></i> Account</a>
                    <a class="dropdown-item " href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
                </div>
            </div>
            <span class="nav-item nav-link px-5"></span>
            <span class="nav-item nav-link px-5"></span>
           
            {% else %}
            <a href="/login" class="nav-item nav-link text-white">Login</a>
            <a href="/register" class="nav-item nav-link text-white">Register</a>
            {% endif %}
        </div>
       
    </nav>
    
    <nav class="navbar navbar-expand-lg  shadow navbar-dark navbar-offcanvas  mobile bg-dark" >
        <a class="navbar-brand mr-auto" href="/">
            <span class="text-white font-4 " style="font-size: 2rem!important;">  Pickle</span>
        </a>
    
        <button class="navbar-toggler d-block float-left" type="button" id="navToggle">
            <i class="fa fa-th-list" aria-hidden="true"></i>

        </button>
    
        <div class="navbar-collapse offcanvas-collapse black-tb" style="z-index: 9999999999;">
            <ul class="navbar-nav mr-auto ">
                <li class="nav-item hoverable">
                    <a class="nav-link text-white p-3" href="/"> <span><i class="fa fa-users" aria-hidden="true"></i></span> Home </a>
                    
                </li>
                <li class="nav-item hoverable p-3">
                    <a class=" nav-item nav-link text-white" href="/search" > <span> <i class="fa fa-search" aria-hidden="true"></i> </span> Search </a>
                </li>
                {% if current_user.is_authenticated%}
                <li class="nav-item hoverable p-3">
                    <a href="/message" class="nav-link text-white"> <i class="fa fa-envelope-open" aria-hidden="true"></i> Messages</a>
                </li>
                 <li class="nav-item hoverable p-3">
                    <a class="nav-link text-white " href="/pinned"><i class="fa fa-thumb-tack" aria-hidden="true"></i> Pinned Posts</a>
                </li>

                <li class="nav-item hoverable p-3">
                    <a href="/account" class="nav-link text-white "> <i class="fa fa-user-o" aria-hidden="true"></i> Account</a>
                </li>
                
                <li class="nav-item hoverable p-3">
                    <a href="/logout" class="nav-link text-white "><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
                </li>
                {% else %}
                <li class="nav-item hoverable p-3">
                    <a href="/login" class="nav-link text-white ">Login</a>
                </li>
                <li class="nav-item hoverable p-3">
                    <a href="/register" class="nav-link text-white ">Register</a>
                </li>
                {% endif %}
               

            </ul>
    
    
        </div>
    </nav>
</header>